@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --height--header: 64px;

  /* background */
  --bg-primary: #ffffff;
  --bg-card: #f7f7f7;
  --foreground: #00000080;
  --foreground-hover: #000000;

  /* bg-btn */
  --bg-btn: #0f1316;

  /* text */
  --text-primary: #000000;
  --text-secondary: #4B5563;
  --text-btn: #ffffff;

  /* border */
  --border-color: #D1D5DB;
  --border-color-hover: #000000;
  --border-card-hover: #000000;
}


.dark {
  --bg-primary: #0f1316;
  --bg-card: #151a1e;

  /* bg-btn */
  --bg-btn: #ffffff;

  --text-primary: #EDEDED;
  --text-secondary: #7D7D7D;
  --text-btn: #000000;

  --border-color: #292929;
  --border-color-hover: #ffffff;
  --border-card-hover: #EDEDED;
}


.mobile-menu a.active {
  color: #fff;
  background-color: #000;
} 

.dark .mobile-menu a.active {
  background-color: #6a7282;
  color: #fff;
}

/* animation */
@keyframes handWave {
  0%   { transform: rotate(0deg); }
  10%  { transform: rotate(20deg); }
  20%  { transform: rotate(-10deg); }
  30%  { transform: rotate(20deg); }
  40%  { transform: rotate(-6deg); }
  50%  { transform: rotate(16deg); }
  60%  { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.hand-wave {
  display: inline-block;              /* QUAN TRỌNG */
  animation: handWave 1.6s ease-in-out infinite;
  transform-origin: 70% 70%;           /* trục cổ tay */
}
